<!-- <div>

  <form [formGroup]="userFrom" (ngSubmit)="onSubmit(userFrom)" novalidate>

    <div>
      <label for="firstName">firstName</label>
    <input type="text" required name="firstName" id="firstName" formControlName="firstName">

    </div>

    <pre *ngIf="userFrom.controls['firstName'].hasError('required')">
        firsrname is required
    </pre>
    <div>
      <label for="lastName">lastName</label>
      <input type="text" name="lastName" id="lastName" formControlName="lastName">
    </div>

    <div>
      <label for="email">email</label>
      <input type="text" name="email" id="email" formControlName="email" required>

      <pre>
      </pre>
    </div>

    <div>
      <label for="gender">gender</label>
      <input type="radio" name="gender" id="gender" formControlName="gender">
    </div>

    <div>
      <input type="submit" value="submit">
    </div>

  </form>
</div> -->