// h1{
//   color:red; 
//   font-weight: normal;
// }
//   p {
//     color:green;
//     font-size: 30px;
//   }

  .heading1 {
    color: gray;
    background-color: green;
  }


  .heading2{
    text-transform: uppercase;
  }