
<div class="nav-bar">
  <ul class="navigation">
    <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">home</a> </li>
    <li><a [routerLink]="['/aboutus']" routerLinkActive="router-link-active">aboutus</a> </li>
    <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">contactus</a> </li>
    <li><a [routerLink]="['/users']" routerLinkActive="router-link-active">users</a> </li>
    <li><a [routerLink]="['/product']" routerLinkActive="router-link-active">product</a> </li>
  </ul>
</div>

<router-outlet></router-outlet>
